<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />

	<meta name="viewport" 
		  content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Puls3: Comunidad online de gente pro y (no sé que más escribir)</title>
	<link rel="stylesheet" href="normalize.css" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/estilos.css" />
	<link rel="stylesheet" href="/static/responsive.css" />
</head>
<body>
	<!-- comentario de lo que sea -->
	<header>
		<figure id="logo">
			<img src="/static/logo.png" />
		</figure>
		<h1 id="titulo_header">Puls3: Comunidad de gente cool, atractiva y millonaria</h1>
		<figure id="avatar">
			<img src="/static/avatar.png" />
			<figcaption></figcaption>
		</figure>
	</header>
	<nav>
		<ul>
			<li id="flechita_nav"><a href="{% url "home" %}"></a></li>
			{% for cat in categorias %}
			    <li><a href="{% url "categoria" cat.pk %}">{{cat}}</a></li>
			{% endfor %}
			<li id="publicar_nav"><a href="#">Publicar</a></li>
		</ul>
	</nav>
	<section id="contenido">
	    <form method="post">
	    <div id="form">
	        {% csrf_token %}
		    {{form.as_p}}
		    <input type="submit">
		<form>
		</div>
	</section>
	<footer>
		<p><strong>Creado por Riper</strong></p>
		<p>Riper</p>
	</footer>
</body>
</html>